<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.boogersoft.intlprefix"
      android:versionName="1.0.7" android:versionCode="7">
    <application android:label="@string/appName" android:icon="@drawable/icon_intlprefix">
        

    <receiver android:name="CallReceiver"><intent-filter>
<action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>

</intent-filter>
</receiver><activity android:label="@string/appName" android:name="PreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
</activity>


</application>
    <uses-sdk android:minSdkVersion="4"/>


<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>

<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest> 